body{
    background-color: lightgray;
    font-family: 'Macondo', cursive; 
}
.header_div{
    letter-spacing: 2px;
    padding: 10px;
    background-color: grey; 
    color: blue;   
}
hr{
    color: aqua;
}
button{
 margin-top: 10px;
 font-weight: bold;
 width: 90px;
}
.copy_right_footer{
   position: fixed;
   color: grey;
   bottom: 0px;
   width: 100%;
   text-align: center;
   background-color: aliceblue;
   line-height: 3;
   text-shadow: 5px 5px 5px rgb(151,149,149);
}
